* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
.footerone{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}