* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
h2 {
    color: #685BA6;
    font-size: 30px;
    font-family: titre;
}

@font-face {
    font-family: titre;
    src: url(../font/Arlon-UltraBold.ttf);
}
.footeronep{
    display: flex;
    margin: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}
.footeroneh2{
    display: flex;
    margin: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}
.footernav{
    display: flex;
    margin: auto;
    height: 50px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
}
.footernavright{
    display: flex;
}
.footernavright ul{
    display: flex;
    gap: 30px;
}
.footernavright ul li{
    display: flex;
    text-decoration: none;
}
.footernavright ul li a{
    font-weight: bold;
    color:black;
    text-decoration: none;
}
.footernavleft{
    display: flex;
}
